<div data-turbolinks="false">
<div class="row-fluid">
		<div class="col-xs-12">
			<h4>Search by Vitals</h4>
		</div>
	</div>
	<div class="row-fluid">
		<div class="col-sm-9">
			<hr>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-9">
			<%= form_tag(searchbymobile_vitals_path, :method => "get", id: "searchby-form") do %>
				<%= text_field_tag :search, params[:search], placeholder: "Search Vitals" %>
				<%= submit_tag "Search" %>
			<% end %>
		</div>
</div>
</div>