<div class="row col-sm-12">
	<div class="col-sm-12">
		<h3>How To Guides</h3>
		<hr>
	</div>
</div>
<% @how_tos.each do |ht| %>
	<div class="row-fluid col-sm-3">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<%= ht.how_to_title %>
			</div>
			<div class="panel-body">
				<%= simple_format(ht.how_to_url) %>
			</div>
		</div>
	</div>
<% end %>

