/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 * require jquery-ui
 * require jquery-ui/core
 * require jquery-ui/theme
 * require jquery-ui/draggable
 * require jquery-ui/resizable
 * require jquery-ui/selectable
 * require jquery-ui/sortable
 = require jquery-ui/accordion
 = require jquery-ui/autocomplete
 * require jquery-ui/button
 * require jquery-ui/datepicker
 * require jquery-ui/dialog
 * require jquery-ui/menu
 * require jquery-ui/progressbar
 * require jquery-ui/selectmenu
 * require jquery-ui/slider
 * require jquery-ui/spinner
 * require jquery-ui/tabs
 * require jquery-ui/tooltip
 * require bootstrap-drawer.min
 */
body {
	padding-top: 36px;
	padding-bottom: 96px;
}
a, a:hover, a:visited, a:focus {
	color: white;
}
.bottom a {
	color: white;
}
.bottom a:hover {
	color : white;
}
.bottom a:visited
{
	color: white;
}
main
{
	margin-top: 32px;
}
h1 {
	font-size: 22px;
}
h2 {
	font-size: 20px;
}
h3 {
	font-size: 18px;
}
h4 {
	font-size: 16px;
}
h5 {
	font-size: 14px;
}
.navbar-brand
{
	font-size: 18px;
}
.panel-footer  {
	word-break:break-all
}
#bottomNav
{
	height: 42px;
	margin-top: 6px;
	margin-bottom: 6px;
	padding-top: 6px;
	padding-bottom: 12px;
	color : white;
}
.text-white
{
	color: white;
}
.nav-bar
{
	font-synthesis: style;
	font-variant: contextual;
}
.nav-bar ul
{
	list-style-type: none;
}
.bottom.nav-bar
{
	background-color: black;
	color: #FFFFFF;
	height: 64px;
}
.bottom.nav-bar.ul {
	float: left;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
.bottom.nav-bar.li a {
	display: block;
	background-color: black;
	text-align: center;
	text-decoration: none;
}
.bottom a:link, .bottom a:hover, .bottom a:visited, .bottom a:focus
{
	color: #FFFFFF;
	background-color: black;
	text-decoration: none;
}
a.bottom:focus, a.bottom:link, a.bottom:hover, a.bottom:visited
{
	color: #FFFFFF;
	background-color: black;
	text-decoration: none;
}
.bottom.nav-bar.li a:hover
{
	text-decoration: none;
	border-bottom: 0px solid #FFFFFF;
}
div.bottom
{
	background-color: black;
}
.nav-top
{
	margin-bottom: 24px;
}