/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require jquery-ui
 *= require bootstrap_and_overrides
 *= require twitter-bootstrap-static/bootstrap
 *= require twitter-bootstrap-static/sprites
 *= require rails_bootstrap_forms
 *= require_tree .
 *= require dataTables/extras/dataTables.responsive
 *= require dataTables/bootstrap/3/jquery.dataTables.bootstrap
 *  require jquery.mobile
 */
body {
	padding-top: 36px;
	padding-bottom: 96px; }
a {
	color: white;
}
a.hover {
	color : white;
}
a.visited
{
	color: white;
}
h1 {
	font-size: 22px;
}
h2 {
	font-size: 20px;
}
h3 {
	font-size: 18px;
}
h4 {
	font-size: 16px;
}
h5 {
	font-size: 14px;
}
.navbar-brand
{
	font-size: 18px;
}
#firstAidNav
{
	color: #FFF;
}
#firstAidNav-list
{
	color: #FFF;
}
.panel-footer  {
	word-break:break-all
}
#bottomNav
{
	height: 42px;
	margin-top: 6px;
	margin-bottom: 6px;
	padding-top: 6px;
	padding-bottom: 12px;
	color : white;
}
.text-white
{
	color: white;
}
.nav-bar
{
	font-synthesis: style;
	font-variant: contextual;
}
.nav-bar ul
{
	list-style-type: none;
}
.bottom.nav-bar
{
	background-color: black;
	color: #FFFFFF;
	height: 64px;
}
.bottom.nav-bar.ul {
	float: left;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
.bottom.nav-bar.li a {
	display: block;
	background-color: black;
	text-align: center;
	text-decoration: none;
}
.bottom a:link, a:hover, a:visited
{
	color: #FFFFFF;
	background-color: black;
	text-decoration: none;
}
a.bottom:link, a.bottom:hover, a.bottom:visited
{
	color: #FFFFFF;
	background-color: black;
	text-decoration: none;
}
.bottom.nav-bar.li a:hover
{
	text-decoration: none;
	border-bottom: 0px solid #FFFFFF;
}
div.bottom
{
	background-color: black;
}